---

import Layout from "../layouts/Layout.astro";---
<Layout title="PlayGames - Online Shop | Spartanburg's Premier Card & Game Shop">
    <div>
        Online Shop coming soon!
    </div>
</Layout>
